!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title Layout
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.page-wrap
    = render :partial => "layouts/header"
    .container
      = render :partial => "layouts/title"
    = yield
    = render :partial => "layouts/footer"
